:root {
    --red: #ff3838;
    --white: #ffffff;
    --black: #000000;

    --red-one: #CB356B;
    --red-two: #BD3F32;

    --green-one: #56ab2f;
    --green-two: #94d049;

    --black-one: #232526;
    --black-two: #70767b;

    --blue-one: #021B79;
    --blue-two: #0575E6;

    --silver: #bdc3c7;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body,
html {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.bg-red {
    background-color: var(--red);
}

.bg-white {
    background-color: var(--white);
}

.bg-black {
    background-color: var(--black);
}

.bg-blue {
    background-color: var(--blue-one);
}

.bg-green {
    background-color: var(--green-one);
}

.container {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
}
.w-50 {
    width: 50%;
}
.h-100{
    height: 100%;
}
.p-relative{
    position: relative;
}
.product-info{
    position: absolute;
    padding-left: 5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.info-wrapper{
    position: relative;
    text-align: left;
    margin: auto;
}
.product-info-size>h3,.product-info-color>h3{
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
    text-transform: uppercase;
    color: var(--black-two);
}
.product-info-name{
    font-size: 1.5rem;
}
.sizes,.colors{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: start;
}
.size,.color{
    list-style: none;
    margin: .5rem;
    border-radius: 50%;
    cursor: pointer;
}
.size{
    border: 2px solid var(--black-two);
    color: var(--black-two);
    padding: .5rem;
}
.size.active,.color.active{
    color: var(--black);
    border:2px solid var(--black);
}
.color{
    width: 40px;
    height: 40px;
    background-color: var(--silver);
    margin: 5px;
    border-radius: 50%;
    padding: 3px;
    border: 2px solid var(--silver);
}
.color>div{
    height: 30px;
    width: 30px;
    border-radius: 50%;
} 
.color:hover {
    color: var(--black);
    border: 2px solid var(--black);
}
.product-info-desc{
    text-align: justify;
    text-justify: inter-word;
    padding: 1rem 0;
}
.product-info-desc>p{
    font-size: 1rem;
    font-weight: 700;
    color: var(--black-two);
}
.btn{
    padding: 1rem 2rem;
    font-weight: 900;
    font-size: 1rem;
    border-radius: 40px;
    cursor: pointer;
    margin: 1rem 0;
    transition: all .2s linear;
}
.btn-light{
    color: var(--black);
    background-color: white;
}
.btn-light:hover {
    color: var(--white);
    background-color: var(--black);
}
.img-circle {
    border-bottom-left-radius: 100%;
}
.product-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%,-50%);
    width: 100%;
}

.product-img img {
    height: auto;
    width: 70%;
    transform: rotate(-35deg);
}

.float {
    animation-name: float;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0);
    }
}

.more-img{
    position: absolute;
    right: 60px;
    top: 50%;
}

.more-img-item{
    height: fit-content;
    border-radius: 15px;
    overflow: hidden;
    margin: 5px 0px;
    cursor: pointer;
}

.more-img-item img{
    height: auto;
    width: 50px;
    border-radius: 15px;
    transition: all .5s ease 0s;
}

.more-img-item:hover img {
    transform: scale(1.2);
}

.navbar{
    background-color: transparent;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 99;
    display: flex;
    padding: 1.5rem 90px;
    justify-content: space-around;
}
.logo > img{
    height: 20px;
    width: auto;
}
.nav-menu{
    display: flex;
    justify-content: space-around;
    width: 70%;
}
.menu-item{
    list-style: none;
    cursor: pointer;
    transition: all .1s linear;
}
.menu-item>a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    color: var(--silver);
    transition: all .3s linear;
} 
.menu-item.active {
    border-bottom: 4px solid black;
}
.menu-item.active>a{
    color: var(--black-one);
}
.menu-item:hover a{
    color: var(--black-one);
}
.menu-item:hover{
    border-bottom: 4px solid black;
}
.slide-control {
    display: flex;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
}
.slide-control div.active {
    border-bottom: 2px solid var(--black);
}
.slide-control div {
    height: 50px;
    width: 50px;
    margin: 10px;
    transition: all 0.5s ease 0s;
}
.slide-control div:hover {
    cursor: pointer;
    transform: translateY(-20px);
    border-bottom: 2px solid var(--black);
}
.slide-control div.active img {
    filter: unset;
}
.slide-control div img {
    height: auto;
    width: 100%;
    filter: grayscale(100%);
    transform: rotate(-45deg);
}
.slide-control div:hover img {
    filter: unset;
}
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.modal-content {
    animation-name: zoom;
    animation-duration: .6s;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: var(--white);
    font-size: 40px;
    font-weight: 900;
    transition: .3s;
}

.close:hover,
.close:focus {
    color: var(--silver);
    text-decoration: none;
    cursor: pointer;
}
.right-to-left {
    transition: 1s;
    transform: translateX(100%);
}

.active .right-to-left {
    transform: translateX(0);
}
.left-to-right {
    transition: 1s;
    transform: translateX(-150%);
}

.active .left-to-right {
    transition: 1s;
    transform: translateX(0);
}
.bottom-up {
    transition: 1s;
    transform: translateY(100vh);
}

.active .bottom-up {
    transform: translateY(0);
}
.active .left-to-right {
    transition: 1s;
    transform: translateX(0);
}
.more-img-item:nth-child(1) {
    transition-delay: .2s;
}

.more-img-item:nth-child(2) {
    transition-delay: .4s;
}

.more-img-item:nth-child(3) {
    transition-delay: .6s;
}

.more-img-item:nth-child(4) {
    transition-delay: .8s;
}
.info-wrapper>div:nth-child(1) {
    transition-delay: .2s;
}

.info-wrapper>div:nth-child(2) {
    transition-delay: .4s;
}

.info-wrapper>div:nth-child(3) {
    transition-delay: .6s;
}

.info-wrapper>div:nth-child(4) {
    transition-delay: .8s;
}

.info-wrapper>div:nth-child(5) {
    transition-delay: 1s;
}

.btn-light {
    transition-delay: 1.2s;
}